{{#resume.basics}}
{{#if summary}}
<div class="summary-container">
  <div class="title">
    <h2>Hello!</h2>
    <div class="keyline"></div>
  </div>
  <p class="summary">
    {{#markdown}}{{summary}}{{/markdown}}
  </p>
</div>
{{/if}}
{{/resume.basics}}
