@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Josefin+Sans:300,700);

// Font Mixins

// Lato - 300, 400, 700; Italics
@mixin lato($weight: 400, $isItalic: false) {
  font-family: $primary-font;
  font-weight: $weight;

  @if $isItalic==true {
    font-style: italic;
  }
}

// Josefin - 300, 400, 600, 700
@mixin josefin($weight: 400) {
  font-family: $secondary-font;
  font-weight: $weight;
}

@font-face {
  font-family: 'chunkfive';
  src: url('../../fonts/chunkfive/chunkfive-webfont.woff2') format('woff2'),
  url('../../fonts/chunkfive/chunkfive-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scala';
  src: url('../../fonts/scala/scala-bold-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scala-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'scala';
  src: url('../../fonts/scala/scala-bolditalic-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scala-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'scala';
  src: url('../../fonts/scala/scala-italic-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scala-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'scala';
  src: url('../../fonts/scala/scala-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scala-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'scala_sans';
  src: url('../../fonts/scala/scalasans-bold-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scalasans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'scala_sans';
  src: url('../../fonts/scala/scalasans-bolditalic-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scalasans-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'scala_sans';
  src: url('../../fonts/scala/scalasans-italic-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scalasans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'scala_sans';
  src: url('../../fonts/scala/scalasans-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scalasans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'scala_sans';
  src: url('../../fonts/scala/scalasansblack-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scalasansblack-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}

@font-face {
  font-family: 'scala_sans_condensed';
  src: url('../../fonts/scala/scalasanscond-bold-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scalasanscond-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'scala_sans_condensed';
  src: url('../../fonts/scala/scalasanscond-webfont.woff2') format('woff2'),
  url('../../fonts/scala/scalasanscond-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

